*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI';
}
button:hover{
    text-decoration: underline;
}
h2{
    margin: 20px 0px;
}
.nd{
    text-align: center;
}
form{
    display: inline-block;
    margin: 10px;
    border: 1px solid black;
}
.tt{
    display: block;
    text-align: left;
    margin: 5px 10px;
    
}
.text{
    width:400px;
    padding: 2px 5px;
    margin-left: 10px;
}
.text:hover{
    background-color: gainsboro;
    border: 2px solid rgb(66, 66, 245);
}
::placeholder{
    color: gray;
    font-size: 17px;
}
textarea{
    width: 400px;
    padding: 2px 5px;
}
button{
    padding: 5px;
    font-size: 20px;
    width: 400px;
    background: rgb(66, 66, 245);
    color: white;
    margin: 10px;
}
.checkbox{
    margin-right: 10px;
}
#nation{
    width: 400px;
    font-size: 15px;
}
option{
    padding: 0px 2px;
}
option:hover{
    background-color: rgb(66, 66, 245);
    color: white;
}
em{
    margin-left: 10px;
    color: red;
    
}